# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

._*

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

ThirstyTraveler/ThirstyTraveler/Brewery.swift

ThirstyTraveler/ThirstyTraveler/FilterToggle.swift

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/googlelogo_light_56x20_with_2_stroke_color_60x22pt@2x.png

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/googlelogo_light_56x20_with_2_stroke_color_60x22pt@2x.png

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/googlelogo_light_56x20_with_2_stroke_color_60x22pt@3x.png

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/googlelogo_light_56x20_with_2_stroke_color_60x22pt@3x.png

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Example/GoogleMapsDemos/MapsDemoAssets.xcassets/LaunchImage.launchimage/LaunchImage-iPhonePortraitRetina4.png

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/en.lproj/InfoPlist.strings

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCacheStorage.momd/Storage.mom

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCacheStorage.momd/Storage.omo

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCacheStorage.momd/VersionInfo.plist

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/button_compass@2x.p

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/button_compass.png

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/button_compass_nigh

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/button_background@3

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/button_background@2

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/button_background.p

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/ar.lproj/GMSCore.st

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCacheStorage.momd/VersionInfo.plist

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCacheStorage.momd/Storage.omo

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCacheStorage.momd/Storage.mom

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Example/GoogleMapsDemos/MapsDemoAssets.xcassets/LaunchImage.launchimage/LaunchImage-iPhonePortraitRetina4.png

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/googlelogo_light_56x20_with_2_stroke_color_60x22pt@3x.png

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/button_compass@2x.p

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/button_compass_nigh

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/button_compass.png

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCoreResources.bundle/googlelogo_light_56x20_with_2_stroke_color_60x22pt@3x.png

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Example/GoogleMapsDemos/MapsDemoAssets.xcassets/LaunchImage.launchimage/LaunchImage-iPhonePortraitRetina4.png

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/en.lproj/InfoPlist.strings

ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/ThirstyTraveler/data.playground/Resources/ThirstyTraveler/Pods/GoogleMaps/Subspecs/Maps/Frameworks/GoogleMaps.framework/Versions/A/Resources/GoogleMaps.bundle/GMSCacheStorage.momd/Storage.mom
